.vs/**
Debug/**
Release/**
**/Debug/**
**/Release/**
ipch/
packages/

Threadily.SampleObjects/Threadily.SampleObjects.vcxproj.user
Threadily.VC.VC.opendb
Threadily.VC.db
Threadily.sdf
Threadily.test.web/Threadily.SampleObjects.js
Threadily.test.web/Threadily.SampleObjects.js.mem
Threadily.test.web/bin/**
Threadily.test.web/node_modules/**
Threadily.test.web/typings/**
Threadily.test.windows/Threadily.test.windows.vcxproj.user
Threadily/Observable.o
Threadily/ReadyEvent.o
Threadily/ThreadManager.o
Threadily/ThreadObject.o
Threadily/ThreadQueueItem.o
Threadily/ThreadQueueItemHandler.o
Threadily/ThreadQueueItemManager.o
Threadily/Threadily.vcxproj.user